@model BusinessCreateViewModel

@{
    ViewData["Title"] = "CreateBusiness";
}


<style>
    #regForm {
        background-color: #fff;
        margin: 100px auto;
        padding: 40px;
        width: 70%;
        min-width: 300px;
        font-family: Proxima Nova;
    }

    h1 {
        text-align: center;
        font-family: Proxima Nova;
    }

    input {
        padding: 10px;
        width: 100%;
        font-size: 17px;
        font-family: Proxima Nova;
        border: 1px solid #aaaaaa;
    }
        /* Mark input boxes that gets an error on validation: */
        input.invalid {
            background-color: #ffdddd;
        }

    button {
        background-color: #ff6e40;
        color: #ffffff;
        border: none;
        padding: 10px 30px;
        font-family: Proxima Nova;
        cursor: pointer;
        font-size: 17px;
    }

        button:hover {
            opacity: 0.8;
        }

    #prevBtn {
        background-color: #bbbbbb;
    }
    /* Hide all steps by default: */
    .tab {
        display: none;
    }
    /* Mark input boxes that gets an error on validation: */
    input.invalid {
        background-color: #ffdddd;
    }
    /* Make circles that indicate the steps of the form: */
    .step {
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbbbbb;
        border: none;
        border-radius: 50%;
        display: inline-block;
        opacity: 0.5;
    }

        .step.active {
            opacity: 1;
        }
        /* Mark the steps that are finished and valid: */
        .step.finish {
            background-color: #ff6e40;
        }
</style>


<form enctype="multipart/form-data" method="post">
    <h1>Add Business Information</h1>
    <hr />
    <div class="form-group row">
        <label asp-for="Name" class="col-sm-2 col-form-label"></label>
        @*Business.Name*@
        <div class="col-sm-10">
            <input asp-for="Name" oninput="this.className = ''" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>

    @*Business.Email*@
    <div class="form-group row">
        <label asp-for="Email" class="col-sm-2 col-form-label"></label>

        <div class="col-sm-10">
            <input asp-for="Email" oninput="this.className = ''" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>

    @*Business.Phone*@
    <div class="form-group row">
        <label asp-for="Phone" class="col-sm-2 col-form-label"></label>

        <div class="col-sm-10">
            <input asp-for="Phone" oninput="this.className = ''" class="form-control" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
    </div>

    @*Business.NoOfStaffs*@
    <div class="form-group row">
        <label asp-for="NoOfStaffs" class="col-sm-2 col-form-label"></label>

        <div class="col-sm-10">
            <input asp-for="NoOfStaffs" oninput="this.className = ''" class="form-control" />
            <span asp-validation-for="NoOfStaffs" class="text-danger"></span>
        </div>
    </div>

    @*Business.City*@
    <div class="form-group row">
        <label asp-for="City" class="col-sm-2 col-form-label"></label>

        <div class="col-sm-10">
            <input asp-for="City" oninput="this.className = ''" class="form-control" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
    </div>

    @*Business.Province*@
    <div class="form-group row">
        <label asp-for="Province" class="col-sm-2 col-form-label"></label>

        <div class="col-sm-10">
            <input asp-for="Province" oninput="this.className = ''" class="form-control" />
            <span asp-validation-for="Province" class="text-danger"></span>
        </div>
    </div>

    @*Business.Country*@
    <div class="form-group row">
        <label asp-for="Country" class="col-sm-2 col-form-label"></label>

        <div class="col-sm-10">
            <input asp-for="Country" oninput="this.className = ''" class="form-control" />
            <span asp-validation-for="Country" class="text-danger"></span>
        </div>
    </div>

    @*Business.AddressLine*@
    <div class="form-group row">
        <label asp-for="AddressLine" class="col-sm-2 col-form-label"></label>

        <div class="col-sm-10">
            <input asp-for="AddressLine" oninput="this.className = ''" class="form-control" />
            <span asp-validation-for="AddressLine" class="text-danger"></span>
        </div>
    </div>

    @*Business.PostalCode*@
    <div class="form-group row">
        <label asp-for="PostalCode" class="col-sm-2 col-form-label"></label>

        <div class="col-sm-10">
            <input asp-for="PostalCode" oninput="this.className = ''" class="form-control" />
            <span asp-validation-for="PostalCode" class="text-danger"></span>
        </div>
    </div>

    @*add image(s)*@
    <div class="form-group row">
        <label asp-for="Photos" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <div class="custom-file">
                <input multiple asp-for="Photos" oninput="this.className = ''" class="form-control custom-file-input" />
                <label class="custom-file-label">Choose File...</label>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>

</form>



@section Scripts{
    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var fileLabel = $(this).next('.custom-file-label');
                var files = $(this)[0].files;
                if (files.length > 1) {
                    fileLabel.html(files.length + ' files selected');
                }
                else if (files.length == 1) {
                    fileLabel.html(files[0].name);
                }
            });
        });    
    </script>
}
